@model IEnumerable<NetFilmx_Service.Dtos.Comment.CommentListDto>

<!DOCTYPE html>
<html>
<head>
    <title>Comments</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Comments</h1>
        <a asp-action="Add" class="btn btn-primary">Add Test Comment</a>

        <ul class="list-group mt-3">
            @foreach (var comment in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <a asp-action="Details" asp-route-commentId="@comment.Id">@comment.Content</a>
                    </span>
                    <span>
                        <a asp-controller="Users" asp-action="Details" asp-route-userId="@comment.UserId" class="btn btn-info btn-sm">Author</a>
                    </span>
                </li>
            }
        </ul>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>
