@model IEnumerable<NetFilmx_Service.Dtos.Tag.TagListDto>

<h1>Tags</h1>
<a asp-action="Add" class="btn btn-primary">Add New Tag</a>

<ul class="list-group mt-3">
    @foreach (var tag in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <a asp-action="Details" asp-route-seriesId="@tag.Id">@tag.Name</a>
            </span>
            <span>
                <a asp-action="Edit" asp-route-seriesId="@tag.Id" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Videos" asp-route-seriesId="@tag.Id" class="btn btn-info btn-sm">Videos</a>
                  
            </span>
        </li>
    }
</ul>

