@model IEnumerable<NetFilmx_Service.Dtos.Video.VideoListDto>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Remove Videos from Tag</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Remove Videos from Tag: @ViewBag.TagName</h1>

        <form asp-action="RemoveVideos" method="post">
            <input type="hidden" name="tagId" value="@ViewBag.TagId" />
            <div class="list-group">
                @foreach (var video in Model)
                {
                    <label class="list-group-item">
                        <input type="checkbox" name="videoIds" value="@video.Id" />
                        @video.Title
                    </label>
                }
            </div>
            <button type="submit" class="btn btn-danger mt-3">Remove Selected Videos</button>
        </form>

    </div>


</body>
</html>
