@{
    Layout = null;
 
    var stepsBack = @ViewBag.StepsBack ?? 2; 
}

<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
</head>
<body>
    <script type="text/javascript">
        
        history.go(-@stepsBack);
     
    
    </script>
</body>
</html>
