@model IEnumerable<NetFilmx_Service.Dtos.Comment.CommentListDto>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comments Posted</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Comments Posted By : @ViewBag.UserUsername</h1>



        <ul class="list-group">
            @foreach (var comment in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="text-wrap">
                        @comment.Content
                    </div>
                    <a href="@Url.Action("Details", "Comment", new { commentId = comment.Id })" class="btn btn-info btn-sm">Details</a>
                </li>
            }
        </ul>

    </div>
</body>
</html>
