@model IEnumerable<NetFilmx_Service.Dtos.Video.VideoListDto>

<!DOCTYPE html>
<html>
<head>
    <title>Videos List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Videos List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Upload Date</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var video in Model)
                {
                    <tr>
                        <td>@video.Id</td>
                        <td>@video.Title</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
