@model IEnumerable<NetFilmx_Service.Dtos.Video.VideoListDto>

<h1>Remove videos from category: @ViewBag.CategoryName</h1>

<form asp-action="DeleteVideos" method="post">
    <input type="hidden" name="categoryId" value="@ViewBag.CategoryId" />
    <ul>
        @foreach (var video in Model)
        {
            <li>
                <input type="checkbox" name="videoIds" value="@video.Id" /> @video.Title
            </li>
        }
    </ul>
    <button type="submit">Zapisz</button>
</form>
