@model NetFilmx_Service.Dtos.Category.CategoryDetailsDto

<h1>Szczegóły Kategorii</h1>

<p>Nazwa: @Model.Name</p>
<p>Opis: @Model.Description</p>

<a href="@Url.Action("Edit", new { categoryId = Model.Id })">Edit</a>
<a href="@Url.Action("Videos", new { categoryId = Model.Id, categoryName = Model.Name})">Videos</a>
