@model NetFilmx_Service.Dtos.Category.CategoryEditDto

<h1>Edytuj Kategorię</h1>

<form method="post">
    
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id" readonly />
    </div>
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"  />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <button type="submit">Zapisz</button>
</form>
