@model IEnumerable<NetFilmx_Service.Dtos.Category.CategoryListDto>




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>


    <h1>Categories</h1>
    <a asp-action="Add" class="btn btn-primary">Add New Category</a>

    <ul class="list-group mt-3">
        @foreach (var category in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <a asp-action="Details" asp-route-categoryId="@category.Id">@category.Name</a>
                </span>
                <span>
                    <a asp-action="Edit" asp-route-categoryId="@category.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Videos" asp-route-categoryId="@category.Id" class="btn btn-info btn-sm">Videos</a>
                </span>
            </li>
        }
    </ul>
</body>
</html>