@model IEnumerable<NetFilmx_Service.Dtos.Series.SeriesListDto>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Series to Video</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Add Series to Video: @ViewBag.VideoName</h1>

        @if (!Model.Any())
        {
            <p>No Series To Be Added</p>
        }
        else
        {
            <form asp-action="AddSeries" method="post">
                <input type="hidden" name="videoId" value="@ViewBag.VideoId" />
                <div class="list-group">
                    @foreach (var series in Model)
                    {
                        <label class="list-group-item">
                            <input type="checkbox" name="seriesIds" value="@series.Id" />
                            @series.Name
                        </label>
                    }
                </div>
                <button type="submit" class="btn btn-primary mt-3">Add Selected Series</button>
            </form>
        }
    </div>
</body>
</html>
