@model IEnumerable<NetFilmx_Service.Dtos.User.UserListDto>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Users to Series</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Add Users to Series: @ViewBag.SeriesName</h1>

        <form asp-action="AddUsers" method="post">
            <input type="hidden" name="seriesId" value="@ViewBag.SeriesId" />
            <div class="list-group">
                @foreach (var user in Model)
                {
                    <label class="list-group-item">
                        <input type="checkbox" name="userIds" value="@user.Id" />
                        @user.Username
                    </label>
                }
            </div>
            <button type="submit" class="btn btn-primary mt-3">Add Selected Users</button>
        </form>


    </div>

</body>
</html>
